common_definitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    elementFormDefault="qualified" vc:minVersion="1.0" vc:maxVersion="1.1">
    <!--
=======================================
Schema: common_definitions.xsd  
Version: V0.91
=======================================
-->

    <!--
=======================================
Simple Types     
=======================================
-->
    <xs:attribute name="ratePlanCodeUnique">
        <xs:annotation>
            <xs:documentation>Tooltip:<br/>
a unique identifier for the rate plan to consistently identify the rate plan and its parameters<p/>
Comment:<br/>
unique identifier for the rate plan permutation assigned by utility (may need to be created for IEDR where for example permutations for different tension levels exist) to consistently identify the rate plan and find its parameters</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="21"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <!--
=======================================
Complex Types
=======================================
-->
    <xs:complexType name="constraintVariableType">
        <xs:sequence>
            <xs:element name="serviceClasses" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>List of serviceClasses for applicable service classes, eg. service Class 1. Use "All" if applicable to all service classes.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="serviceClass"
                            type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element form="qualified" name="rateCodes" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>List of applicable service subclasses, eg. "Service Class 1 rate II"</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="rateCode"
                            type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="ratePlans">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded"
                            name="ratePlanCodeUnique" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="customRatePlanAttribute" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Flexible options for rate plan attributes by which to filter rate plans for applicability</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="attributeName"/>
                        <xs:element name="value"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="territoryId" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:list itemType="xs:string"/>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="season"/>
            <xs:element minOccurs="0" ref="phases"/>
        </xs:sequence>
    </xs:complexType>
    <!--
   ================
 Measurement Definition
   ================
   -->

    <!--
   ================
   Time Definition
   ================
   -->

    <xs:complexType name="dateIntervalType">
        <xs:sequence>
            <xs:element form="qualified" name="startDate" type="xs:date"/>
            <xs:element name="endDate" form="qualified" type="xs:date"
                minOccurs="0"/>
            <xs:element minOccurs="0" name="expectedEndDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dateTimeIntervalType">
        <xs:sequence>
            <xs:element form="qualified" name="startDateTime" type="xs:dateTime"/>
            <xs:element name="endDateTime" form="qualified" type="xs:dateTime"
                minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="measureType">
        <xs:sequence>
            <xs:element form="qualified" name="calculationMethod">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="by_metered_quantity"/>
                        <xs:enumeration value="fixed"/>
                        <xs:enumeration value="by_variable_utility_settings"/>
                        <xs:enumeration value="by_billing_cycle"/>
                        <xs:enumeration value="percentage"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="calculationBaseValue"
                type="xs:string"/>
            <xs:element name="measurementSource" type="measurementKind"/>
            <xs:element name="phases" type="phaseCodeKind" minOccurs="0"/>
            <xs:element name="unitOfMeasure" type="unitSymbolKind"/>
            <xs:element ref="unitMultiplierPowerOfTen"/>
            <xs:element name="measurementInterval">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="calculationMode"/>
                        <xs:element ref="calcIntervalKind"/>
                        <xs:element ref="calcIntervalPer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" ref="statisticKind"/>
            <xs:element name="inclusionStatus" type="valueInclusionKind"
                minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="scopeOfApplicabilityType">
        <xs:annotation>
            <xs:documentation>The scope of rate plan parameters to which a data point or set of data points is applicable. This will be used to filter charges data for the set applicable to a customer scenario to be calculated.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element form="qualified" name="include"
                type="constraintVariableType">
                <xs:annotation>
                    <xs:documentation>A set of attribute values that constrain the scope of applicability of this data element by explicit inclusion. All other values for this same field are explicitly excluded.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="exclude" type="constraintVariableType"
                minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A set of attribute values that constrain the scope of applicability of this data element by explicit exclusion. This allows for the exclusion of a subset of excluded values for one variables from a larger set of included values for another variable, e.g. "All service class 1 rate plans except time of use rate plans"</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tariffDocumentationType">
        <xs:sequence>
            <xs:element name="sourceDocKind">
                <xs:annotation>
                    <xs:documentation>The type of official tariff documentation</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="TariffBookLeafRange"/>
                        <xs:enumeration value="Statement"/>
                        <xs:enumeration value="MarketSupplyChargesData"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sourceURL" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>Platform-generated URL from which official tariff documentation can be downloaded</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datePublished" type="xs:date">
                <xs:annotation>
                    <xs:documentation>The date on which tariff documentation was published</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="effectivePeriod" type="dateIntervalType"/>
            <xs:element name="iedrOrgAbbreviation" type="xs:string"
                minOccurs="0"/>
            <xs:element minOccurs="0" name="dpsUtilityPscNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:totalDigits value="3"/>
                        <xs:maxExclusive value="1000"/>
                        <xs:whiteSpace fixed="true" value="collapse"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="serviceType" type="serviceKind"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="timeIntervalType">
        <xs:sequence>
            <xs:element form="qualified" name="startTime" type="xs:time"/>
            <xs:element name="endTime" form="qualified" type="xs:time"/>
        </xs:sequence>
    </xs:complexType>



    <!--
=======================================
Enumerations
=======================================
-->


    <xs:simpleType name="measurementKind">
        <xs:annotation>
            <xs:documentation>Tooltip:<br/> 
                
                The type of measurement, Naming and enumeration options are in alignment with those from Green Button Connect
                Element naming is aligned with the CIM semantic model: https://ontology.tno.nl/cerise/cim-profile/cim_ReadingType.measurementKind.html
                OWL ontology at: https://ontology.tno.nl/IEC_CIM.ttl
                
                Identifies "what" is being measured, as refinement of 'commodity'. When combined with 'unit', it provides detail to the unit of measure. For example, 'energy' with a unit of measure of 'kWh' indicates to the user that active energy is being measured, while with 'kVAh' or 'kVArh', it indicates apparent energy and reactive energy, respectively. 'power' can be combined in a similar way with various power units of measure: Distortion power ('distortionVoltAmperes') with 'kVA' is different from 'power' with 'kVA'.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="apparentPowerFactor"/>
            <xs:enumeration value="batteryCarryover"/>
            <xs:enumeration value="batteryVoltage"/>
            <xs:enumeration value="demand"/>
            <xs:enumeration value="demandLimit"/>
            <xs:enumeration value="distance"/>
            <xs:enumeration value="energy"/>
            <xs:enumeration value="frequency"/>
            <xs:enumeration value="phasorPowerFactor"/>
            <xs:enumeration value="phasorReactivePower"/>
            <xs:enumeration value="power"/>
            <xs:enumeration value="powerFactor"/>
            <xs:enumeration value="powerQuality"/>
            <xs:enumeration value="voltage"/>
            <xs:enumeration value="volumetricFlow"/>
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="phaseCodeKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AAA"/>
            <xs:enumeration value="ABC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="seasonNameKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Winter"/>
            <xs:enumeration value="Spring"/>
            <xs:enumeration value="Summer"/>
            <xs:enumeration value="Fall"/>
            <xs:enumeration value="Shoulder"/>
            <xs:enumeration value="OffSeason"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="serviceKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Electric"/>
            <xs:enumeration value="Gas"/>
            <xs:enumeration value="Steam"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="unitSymbolKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Wh">
                <xs:annotation>
                    <xs:appinfo>Watt hour</xs:appinfo>
                    <xs:documentation>Real energy, multiplier=3 for kWh, multiplier=6 for MWh.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="W">
                <xs:annotation>
                    <xs:appinfo>Watt</xs:appinfo>
                    <xs:documentation>Real power, multiplier=3 for kW, multiplier=6 for MW.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="thm">
                <xs:annotation>
                    <xs:appinfo>Therm</xs:appinfo>
                    <xs:documentation>Energy, unit of heat energy that equal to 100,000 British thermal units (BTU). Multiplier = 1 for Deca therm (Dth).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BTU">
                <xs:annotation>
                    <xs:appinfo>British Thermal Units</xs:appinfo>
                    <xs:documentation>Energy, multiplier = 5 for Metric Million British Thermal Unit (MMBtu).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VA">
                <xs:annotation>
                    <xs:appinfo>Volt Ampere</xs:appinfo>
                    <xs:documentation>Apparent power, multiplier=3 for Kilo Volt-ampere (kVA)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VArh">
                <xs:annotation>
                    <xs:appinfo>Volt Ampere reactive hours</xs:appinfo>
                    <xs:documentation>Reactive energy, multiplier=3 for Kilo Volt-Ampere reactive hours (kVArh)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VAr">
                <xs:annotation>
                    <xs:appinfo>Volt Ampere reactive</xs:appinfo>
                    <xs:documentation>Reactive power, multiplier=3 for Kilo Volt-Ampere Reactive (kVAr)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VAh">
                <xs:annotation>
                    <xs:appinfo>Volt Ampere hours, multiplier=3 for Kilo Volt-Ampere hours (kVAh)</xs:appinfo>
                    <xs:documentation>Apparent energy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VA">
                <xs:annotation>
                    <xs:appinfo>Volt-Ampere</xs:appinfo>
                    <xs:documentation>Apparent power</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="V">
                <xs:annotation>
                    <xs:appinfo>Volt</xs:appinfo>
                    <xs:documentation>Electric potential</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lb">
                <xs:annotation>
                    <xs:appinfo>Pounds</xs:appinfo>
                    <xs:documentation>Pounds, multiplier=6 for Mlb of Steam</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="valueInclusionKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="inclusive"/>
            <xs:enumeration value="exclusive"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="calcIntervalKind">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="PER-CYCLE"/>
                <xs:enumeration value="CYCLE"/>
                <xs:enumeration value="DAY"/>
                <xs:enumeration value="WEEK"/>
                <xs:enumeration value="MONTH"/>
                <xs:enumeration value="YEAR"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="calcIntervalPer" type="xs:int"/>
    <xs:element name="calculationMode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="TOTAL"/>
                <xs:enumeration value="PERIOD"/>
                <xs:enumeration value="SLIDING"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="phases">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="phase"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="phase" nillable="true" type="phaseCodeKind"/>
    <xs:element name="scopeOfApplicability" type="scopeOfApplicabilityType"> </xs:element>
    <xs:element name="statisticKind">
        <xs:simpleType>
            <xs:annotation>
                <xs:documentation>Tooltip:<br/> 
                    the statistic type of the eligibility limit to de minimum or maximum limit (e.g. "min", "max", "avg") limits are inclusive. i.e. a minimum of 40kW means sa customer with 40 kW can be on the rate plan<p/>
                    
                    Comment:<br/> 
                    the statistic type of the eligibility limit to de minimum or maximum limit (e.g. "min", "max", "avg")
                    limits are inclusive. i.e. a minimum of 40kW means a customer with 40 kW can be on the rate plan</xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:maxLength value="3"/>
                <xs:enumeration value="min"/>
                <xs:enumeration value="max"/>
                <xs:enumeration value="avg"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="unitMultiplierPowerOfTen">
        <xs:simpleType>
            <xs:restriction base="xs:int"> </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="seasonName" type="seasonNameKind"/>
</xs:schema>
