common_definitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
    elementFormDefault="qualified" vc:minVersion="1.0" vc:maxVersion="1.1">
    <!--
=======================================
Schema: common_definitions.xsd  
Version: V0.91
=======================================
-->

    <!--
=======================================
Attributes     
=======================================
-->
    <xs:attribute name="ratePlanCodeUnique">
        <xs:annotation>
            <xs:appinfo xml:lang="en">a unique identifier for the rate plan to consistently identify the rate plan and its parameters</xs:appinfo>
            <xs:documentation xml:lang="en">unique identifier for the rate plan permutation assigned by utility (may need to be created for IEDR where for example permutations for different tension levels exist) to consistently identify the rate plan and its parameters</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="40"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="isReplacementRecord" type="xs:boolean">
        <xs:annotation>
            <xs:documentation>The record replaces a record included in a prior data transfer.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="IsDeletedRecord" type="xs:boolean">
        <xs:annotation>
            <xs:documentation>The record has been deleted or updated in the source from which it was extracted.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <!--
=======================================
Complex Types
=======================================
-->
    <xs:complexType name="ConstraintVariableType">
        <xs:sequence>
            <xs:element name="customerClasses" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="customerClass"
                            type="CustomerClassKind"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="serviceClasses" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Applicable service classes, eg. "1" for service Class 1. Use "All" if applicable to all service classes.

If a suffix is added (ex.: "SC1TOU1" ) this field shall be populated with just the number for the parent service class. The suffix shall made available separately in "rateCodes"</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="serviceClass"
                            type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element form="qualified" name="rateCodes" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Applicable service rate codes, eg. "2" for Service Class 1 rate 2".</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="rateCode"
                            type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="ratePlans">
                <xs:annotation>
                    <xs:documentation>Applicable ratePlanCodeUnique values</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded"
                            name="ratePlanCodeUnique" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="ratePlanModifiers">
                <xs:annotation>
                    <xs:documentation>Applicable ratePlanModifierCodeUnique values</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded"
                            name="ratePlanModifierCodeUnique" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="customRatePlanAttribute" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Flexible options for rate plan attributes by which to filter rate plans for applicability</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="attributeName"/>
                        <xs:element name="value"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" ref="phases"/>
            <xs:element minOccurs="0" name="season"/>
            <xs:element minOccurs="0" name="territories">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="territory">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="territoryId" maxOccurs="1"
                                        type="xs:string"> </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" ref="voltages"/>
        </xs:sequence>
    </xs:complexType>
    <!--
   ================
 Measurement Definition
   ================
   -->

    <!--
   ================
   Time Definition
   ================
   -->

    <xs:complexType name="DateIntervalType">
        <xs:sequence>
            <xs:element form="qualified" name="startDate" type="xs:date"/>
            <xs:element name="endDate" form="qualified" type="xs:date"
                minOccurs="0"/>
            <xs:element minOccurs="0" name="expectedEndDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimeIntervalType">
        <xs:sequence>
            <xs:element form="qualified" name="startDateTime" type="xs:dateTime"/>
            <xs:element name="endDateTime" form="qualified" type="xs:dateTime"
                minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeasureType">
        <xs:sequence>
            <xs:element form="qualified" name="calculationMethod">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="avg"/>
                        <xs:enumeration value="by_billing_cycle"/>
                        <xs:enumeration value="by_metered_quantity"/>
                        <xs:enumeration value="by_variable_utility_settings"/>
                        <xs:enumeration value="fixed"/>
                        <xs:enumeration value="min"/>
                        <xs:enumeration value="max"/>
                        <xs:enumeration value="percentage"/>
                        <xs:enumeration value="sdv"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="calculationBaseValue"
                type="xs:string"/>
            <xs:element name="measurementSource" type="MeasurementKind"
                minOccurs="0"/>
            <xs:element name="phases" type="PhaseCodeKind" minOccurs="0"/>
            <xs:element name="unitOfMeasure" type="UnitSymbolKind" minOccurs="0"/>
            <xs:element name="measurementInterval" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="calculationMode"/>
                        <xs:element ref="calcIntervalKind"/>
                        <xs:element ref="calcIntervalPer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" ref="statisticKind"/>
            <xs:element name="inclusionStatus" type="ValueInclusionKind"
                minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ScopeOfApplicabilityType">
        <xs:annotation>
            <xs:documentation>The scope of rate plan parameters to which a data point or set of data points is applicable. This will be used to filter charges data for the set applicable to a customer scenario to be calculated.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element form="qualified" name="include"
                type="ConstraintVariableType">
                <xs:annotation>
                    <xs:documentation>A set of attribute values that constrain the scope of applicability of this data element by explicit inclusion. All other values for this same field are explicitly excluded.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="exclude" type="ConstraintVariableType"
                minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A set of attribute values that constrain the scope of applicability of this data element by explicit exclusion. This allows for the exclusion of a subset of excluded values for one variables from a larger set of included values for another variable, e.g. "All service class 1 rate plans except time of use rate plans"</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentationType">
        <xs:sequence>
            <xs:element name="iedrOrgAbbreviation" type="xs:string"
                minOccurs="0"/>
            <xs:element minOccurs="0" name="dpsUtilityPscNumber">
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:totalDigits value="3"/>
                        <xs:maxExclusive value="1000"/>
                        <xs:whiteSpace fixed="true" value="collapse"/>
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="serviceType" type="ServiceKind"/>
            <xs:element name="sourceDocKind">
                <xs:annotation>
                    <xs:documentation>The type of official tariff documentation</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="TariffBook"/>
                        <xs:enumeration value="Statement"/>
                        <xs:enumeration value="UtilityWebsiteManualEntry"/>
                        <xs:enumeration value="UtilityWebsiteDataDownload"/>
                        <xs:enumeration value="MarketSupplyChargesData"/>
                        <xs:enumeration value="ESCORetailSupplyChargesData"/>
                        <xs:enumeration
                            value="CommunityChoiceAggregationSupplyChargesData"/>
                        <xs:enumeration value="CommunitySolarSupplyChargesData"
                        />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="sourceURL" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>URL from which official source tariff documentation can be downloaded</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dataDownloadURL" type="xs:anyURI" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>URL from which official structured data was downloaded</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datePublished" type="xs:date">
                <xs:annotation>
                    <xs:documentation>The date on which tariff documentation was published in official sources such as the Public Service Commission Electronic Tariff System (ETS) or utility websites.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dateSourceLastUpdated" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>The date when a record or resource was last changed or modified in the source from which data was extracted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dateTimeDataExtract" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation xml:lang="en">The date on which data was extracted</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="effectivePeriod" type="DateIntervalType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeIntervalType">
        <xs:sequence>
            <xs:element form="qualified" name="startTime" type="xs:time"/>
            <xs:element name="endTime" form="qualified" type="xs:time"/>
        </xs:sequence>
    </xs:complexType>



    <!--
=======================================
Enumerations simpleType
=======================================
-->

    <xs:simpleType name="CustomerClassKind">
        <xs:annotation>
            <xs:documentation>Tooltip:<br/> 
                    the type of customer that the rate plan applies to such as residential, commercial, industrial, lighting<p/>
                    
                    Comment:<br/> 
                    The type of customer that the tariff applies to such as residential, commercial, industrial, lighting</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:enumeration value="Commercial"/>
            <xs:enumeration value=" Commercial Large"/>
            <xs:enumeration value="Distributed Generation"/>
            <xs:enumeration value="Industrial"/>
            <xs:enumeration value="Interruptible"/>
            <xs:enumeration value="Lighting"/>
            <xs:enumeration value="Natural Gas Vehicle"/>
            <xs:enumeration value="Non-residential"/>
            <xs:enumeration value="Religious"/>
            <xs:enumeration value="Residential"/>
            <xs:enumeration value="Street Lighting"/>
            <xs:enumeration value="Time of Use"/>
            <xs:enumeration value="Transmission"/>
            <xs:enumeration value="Transmission Or Substation"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MeasurementKind">
        <xs:annotation>
            <xs:documentation>Tooltip:<br/> 
                
                The type of measurement, Naming and enumeration options are in alignment with those from Green Button Connect
                Element naming is aligned with the CIM semantic model: https://ontology.tno.nl/cerise/cim-profile/cim_ReadingType.measurementKind.html
                OWL ontology at: https://ontology.tno.nl/IEC_CIM.ttl
                
                Identifies "what" is being measured, as refinement of 'commodity'. When combined with 'unit', it provides detail to the unit of measure. For example, 'energy' with a unit of measure of 'kWh' indicates to the user that active energy is being measured, while with 'kVAh' or 'kVArh', it indicates apparent energy and reactive energy, respectively. 'power' can be combined in a similar way with various power units of measure: Distortion power ('distortionVoltAmperes') with 'kVA' is different from 'power' with 'kVA'.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="apparentPowerFactor"/>
            <xs:enumeration value="batteryCarryover"/>
            <xs:enumeration value="batteryVoltage"/>
            <xs:enumeration value="demand"/>
            <xs:enumeration value="demandLimit"/>
            <xs:enumeration value="distance"/>
            <xs:enumeration value="energy"/>
            <xs:enumeration value="frequency"/>
            <xs:enumeration value="phasorPowerFactor"/>
            <xs:enumeration value="phasorReactivePower"/>
            <xs:enumeration value="power"/>
            <xs:enumeration value="powerFactor"/>
            <xs:enumeration value="powerQuality"/>
            <xs:enumeration value="voltage"/>
            <xs:enumeration value="volumetricFlow"/>
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhaseCodeKind">
        <xs:annotation>
            <xs:documentation>list of phaseCode values from CIM, source: https://ontology.tno.nl/IEC_CIM/cim_PhaseCode.html</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="A"/>
            <xs:enumeration value="AB"/>
            <xs:enumeration value="ABC"/>
            <xs:enumeration value="ABCN"/>
            <xs:enumeration value="ABN"/>
            <xs:enumeration value="AC"/>
            <xs:enumeration value="ACN"/>
            <xs:enumeration value="AN"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="BC"/>
            <xs:enumeration value="BCN"/>
            <xs:enumeration value="BN"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="CN"/>
            <xs:enumeration value="N"/>
            <xs:enumeration value="X"/>
            <xs:enumeration value="XN"/>
            <xs:enumeration value="XY"/>
            <xs:enumeration value="XYN"/>
            <xs:enumeration value="none"/>
            <xs:enumeration value="s1"/>
            <xs:enumeration value="s12"/>
            <xs:enumeration value="s12N"/>
            <xs:enumeration value="s1N"/>
            <xs:enumeration value="s2"/>
            <xs:enumeration value="s2N"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SeasonNameKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Winter"/>
            <xs:enumeration value="Spring"/>
            <xs:enumeration value="Summer"/>
            <xs:enumeration value="Fall"/>
            <xs:enumeration value="Shoulder"/>
            <xs:enumeration value="OffSeason"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ServiceKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Electric"/>
            <xs:enumeration value="Gas"/>
            <xs:enumeration value="Steam"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VoltageKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="low"/>
            <xs:enumeration value="high"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnitSymbolKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Wh">
                <xs:annotation>
                    <xs:appinfo>Watt hour</xs:appinfo>
                    <xs:documentation>Real energy, multiplier=3 for kWh, multiplier=6 for MWh.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kWh">
                <xs:annotation>
                    <xs:appinfo>Kilowatt hour</xs:appinfo>
                    <xs:documentation>Kilowatt hour, Real energy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MWh">
                <xs:annotation>
                    <xs:appinfo>Megawatt hour</xs:appinfo>
                    <xs:documentation>Megawatt hour, Real energy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="W">
                <xs:annotation>
                    <xs:appinfo>Watt</xs:appinfo>
                    <xs:documentation>Real power</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kW">
                <xs:annotation>
                    <xs:appinfo>Kilowatt</xs:appinfo>
                    <xs:documentation>Kilowatt, equivalent to 1,000 watts, Real power</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MW">
                <xs:annotation>
                    <xs:appinfo>Megawatt</xs:appinfo>
                    <xs:documentation>Megawatt, equivalent to 1,000,000 watts, Real power</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="thm">
                <xs:annotation>
                    <xs:appinfo>Therm</xs:appinfo>
                    <xs:documentation>Therm. Energy, unit of heat energy that is equal to 100,000 British thermal units (BTU)
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Dth">
                <xs:annotation>
                    <xs:appinfo>Decatherm</xs:appinfo>
                    <xs:documentation>Decatherm, equivalent to 100 therms. Energy, unit of heat energy that is equal to 10,000,000 British thermal units (BTU).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BTU">
                <xs:annotation>
                    <xs:appinfo>British Thermal Units</xs:appinfo>
                    <xs:documentation>British Thermal Units, Energy
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kBtu">
                <xs:annotation>
                    <xs:appinfo>Kilobtu</xs:appinfo>
                    <xs:documentation>Kilobtu, equivalent to 1,000 Metric Million British Thermal Unit, Energy
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MMBtu">
                <xs:annotation>
                    <xs:appinfo>British Thermal Units</xs:appinfo>
                    <xs:documentation>Metric Million British Thermal Unit, Energy
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VA">
                <xs:annotation>
                    <xs:appinfo>Volt-Ampere</xs:appinfo>
                    <xs:documentation>Volt-Ampere, Apparent power, multiplier=3 for Kilo Volt-ampere (kVA)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kVA">
                <xs:annotation>
                    <xs:appinfo>Kilo Volt-Ampere</xs:appinfo>
                    <xs:documentation>Kilo Volt-Ampere, Apparent power</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VArh">
                <xs:annotation>
                    <xs:appinfo>Volt-Ampere Reactive Hours</xs:appinfo>
                    <xs:documentation>Reactive energy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kVArh">
                <xs:annotation>
                    <xs:appinfo>Kilo Volt-Ampere Reactive Hours</xs:appinfo>
                    <xs:documentation>Reactive energy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VAr">
                <xs:annotation>
                    <xs:appinfo>Volt-Ampere Reactive</xs:appinfo>
                    <xs:documentation>Volt Ampere reactiveReactive power</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kVAr">
                <xs:annotation>
                    <xs:appinfo>Kilo Volt-Ampere Reactive</xs:appinfo>
                    <xs:documentation>Kilo Volt Ampere Reactive</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VAh">
                <xs:annotation>
                    <xs:appinfo>Volt-Ampere Hours</xs:appinfo>
                    <xs:documentation>Volt Ampere Hours, Apparent Energy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kVAh">
                <xs:annotation>
                    <xs:appinfo>Kilo Volt-Ampere Hours</xs:appinfo>
                    <xs:documentation>Kilo Volt Ampere Hours, Apparent energy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VA">
                <xs:annotation>
                    <xs:appinfo>Volt-Ampere</xs:appinfo>
                    <xs:documentation>Volt-Ampere, Apparent power</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kVA">
                <xs:annotation>
                    <xs:appinfo>Kilo Volt-Ampere</xs:appinfo>
                    <xs:documentation>Kilo Volt-Ampere, Apparent power</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="V">
                <xs:annotation>
                    <xs:appinfo>Volt</xs:appinfo>
                    <xs:documentation>Volt, Electric potential</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="kV">
                <xs:annotation>
                    <xs:appinfo>Kilo Volt</xs:appinfo>
                    <xs:documentation>Kilo Volt, Electric potential</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="lb">
                <xs:annotation>
                    <xs:appinfo>Pounds</xs:appinfo>
                    <xs:documentation>Pounds, multiplier=6 for Mlb of Steam</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="klb">
                <xs:annotation>
                    <xs:appinfo>Kilo Pounds</xs:appinfo>
                    <xs:documentation>Kilo Pounds, equivalent to 1000 Pounds. Note that ConEd defines UOM for steam as "Mlb - 1,000 pounds of steam
                        MMlb - 1,000,000 pounds of steam" but this does not comply with international standards for unit of measure definition.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Mlb">
                <xs:annotation>
                    <xs:appinfo>Pounds</xs:appinfo>
                    <xs:documentation>Million Pounds, equivalent to 1,000,000 pounds. Use "kBTU" for 1,000 pounds. Note that ConEd defines UOM for steam as "Mlb - 1,000 pounds of steam
                        MMlb - 1,000,000 pounds of steam" in tariffs and on customer bills but this does not comply with international standards for unit of measure definition.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValueInclusionKind">
        <xs:annotation>
            <xs:documentation>If the value defines a limit included in the limit <!--(i.e. "=", "<=", or ">=")-->"inclusive" shall be used,If the value defines a limit included in the limit, "exclusive" shall be used<!--(i.e. "<" or ">")--> if only values smaller or greater </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="inclusive"/>
            <xs:enumeration value="exclusive"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="calcIntervalKind">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="PER-CYCLE"/>
                <xs:enumeration value="CYCLE"/>
                <xs:enumeration value="DAY"/>
                <xs:enumeration value="WEEK"/>
                <xs:enumeration value="MONTH"/>
                <xs:enumeration value="YEAR"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="calcIntervalPer" type="xs:int"/>
    <xs:element name="calculationMode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="TOTAL"/>
                <xs:enumeration value="PERIOD"/>
                <xs:enumeration value="SLIDING"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="phases">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="phase" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="phase" nillable="true" type="PhaseCodeKind">
        <xs:annotation>
            <xs:appinfo xml:lang="en">Phase code</xs:appinfo>
            <xs:documentation xml:lang="en">Phase code value representing phases. from CIM: "Number of wires and specific nominal phases can be deduced from enumeration literal values. For example, ABCN is three-phase, four-wire, s12n (splitSecondary12N) is single-phase, three-wire, and s1n and s2n are single-phase, two-wire."</xs:documentation>
            <xs:documentation>source: CIM TC57: https://ontology.tno.nl/IEC_CIM/cim_UsagePoint.phaseCode.html</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="scopeOfApplicability" type="ScopeOfApplicabilityType"> </xs:element>
    <xs:element name="statisticKind">
        <xs:simpleType>
            <xs:annotation>
                <xs:documentation>Tooltip:<br/> 
                    the statistic type of the eligibility limit to de minimum or maximum limit (e.g. "min", "max", "avg") limits are inclusive. i.e. a minimum of 40kW means sa customer with 40 kW can be on the rate plan<p/>
                    
                    Comment:<br/> 
                    the statistic type of the eligibility limit to de minimum or maximum limit (e.g. "min", "max", "avg")
                    limits are inclusive. i.e. a minimum of 40kW means a customer with 40 kW can be on the rate plan</xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:maxLength value="3"/>
                <xs:enumeration value="min"/>
                <xs:enumeration value="max"/>
                <xs:enumeration value="avg"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="voltages">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="voltage" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="voltage" nillable="true" type="VoltageKind">
        <xs:annotation>
            <xs:appinfo xml:lang="en">Type of voltage, also called "Tension"</xs:appinfo>
            <xs:documentation xml:lang="en">Enumeration describing the type of applicable voltage (also called "tension"). Where applicable, numeric voltage limits applicable to the rate plan or rate plan modifiers associated with a given charge shall be defined further in each of its respective "eligibility">"limit" elements</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="seasonName" type="SeasonNameKind"/>
</xs:schema>
